<!DOCTYPE html>
{% load static %}
<htm>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="My Profile Website">
  <meta name="author" content="Dennis Walangadi">

  <title>Dennis Walangadi | Profile</title>

  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <h1>Dennis Al Baihaqi Walangadi</h1>
  <h3>1906400141 - Dennis - Maung 2019</h3>
  <br>
  <p>
    Hi! My name is Dennis!<br>
    I'm a Computer Science student from Universitas Indonesia. I love programming exploring open sourced projects!
  </p>

  <table>
    <tr>
      <td>Hobby</td>
    </tr>
    <tr>
      <td>Education</td>
    </tr>
  </table>
    

  <h2></h2>
  <script src="static/js/scripts.js"></script>
</body>
</html>